// Base Colors
$white: #fff !default;
$blue: #1391CE !default;
$lightBlue: #EBF5FB !default;
$grey: #D9D8DA !default;
$black: #000 !default;
$red: #CE1319 !default;

// Reset
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  background: #FEFCFE;
  font-family: sans-serif;
  font-size: 14px;
  padding: 0px 20px 20px 20px;
}


$slider-width: 100% !default;

$slider-handle-color: $white !default;
$slider-handle-color-hover: $grey !default;
$slider-handle-size: 20px !default;

$slider-track-color: $grey !default;
$slider-track-height: 10px !default;

$slider-label-color: $white !default;
$slider-label-width: 60px !default;

.slider {
  width: $slider-width;
  &:not(:nth-child(1)) {
    margin: 25px 0 0 0%;
  }

}

.slider-range {
  -webkit-appearance: none;
  width: calc(100% - (#{$slider-label-width + 13px}));
  height: $slider-track-height;
  border-radius: 5px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, $blue),
    color-stop(0, $slider-track-color)
  );
  outline: none;
  padding: 0;
  margin: 0;

  // Slider Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $slider-handle-size;
    height: $slider-handle-size;
    border-radius: 50%;
    background: $slider-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;
    box-shadow: 1px 2px #D9D8DA;

    &:hover {
      background: $slider-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $slider-handle-color-hover;
  }

  &::-moz-slider-thumb {
    width: $slider-handle-size;
    height: $slider-handle-size;
    border: 0;
    border-radius: 50%;
    background: $slider-handle-color;
    cursor: pointer;
    transition: background 0.15s ease-in-out;

    &:hover {
      background: $slider-handle-color-hover;
    }
  }

  &:active::-moz-slider-thumb {
    background: $slider-handle-color-hover;
  }
}

// Slider Label
.slider-value {
  display: inline-block;
  position: relative;
  width: $slider-label-width;
  color: $black;
  border: 2px solid $grey;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  background: $slider-label-color;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $slider-label-color;
    border-bottom: 7px solid transparent;
    content: '';
  }
}

// Grid helpers
.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-right: 8px;
  padding-left: 8px;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 560px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 752px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 976px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1184px;
    max-width: 100%;
  }
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.full-col {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
  padding: 10px;
  width: 100%;
}

.two-thirds-col {
  -ms-flex-preferred-size: 66%;
  flex-basis: 66%;
  max-width: 66%;
  padding: 10px;
  width: 100%;
}

.half-col {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
  padding: 10px;
  width: 100%;
}

.one-third-col {
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
  max-width: 3%;
  padding: 10px;
  width: 100%;
}

.full-col > div, .half-col > div {
  padding: 8px 8px 8px 0px;
}

.sliders {
  padding: 0px 8px 0px 8px;
}

.inputs {
  padding: 20px;
  background: $white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 10px $grey;
}

input[type='number'] {
  width: 100% !important;
  display: inline-block;
  position: relative;
  width: $slider-label-width;
  color: $black;
  border: 2px solid $grey;
  line-height: 20px;
  border-radius: 4px;
  background: $slider-label-color;
  padding: 5px 10px;
  transition: border-color 0.15s;

  &:focus {
    border-color: #adadad;
  }
}

input {
  outline: 0;
}

.button-container {
  text-align: center;
  padding: 20px;
}

button {
  background: $blue;
  color: $white;
  border: 0px;
  padding: 12px 18px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: bold;
  outline-color: rgba(0, 0, 0, 0);
}

button:active {
  background: darken($blue, 5%);
}

.results {
  display: none;
  padding: 20px;
  background: $lightBlue;
  position: relative;
  top: -155px;
  z-index: -1;
  transition: top 0.5s;
}

.results > div {
  div {
    &:nth-child(1) {
      text-align: left;
    }
    &:nth-child(2) {
      text-align: right;
    }
  }
  &:not(:nth-child(4)) {
    border-bottom: 1px solid $grey;
  }
  &:nth-child(4) {
    div:nth-child(2) {
      font-size: 18px;
    }
  }

  div:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
  }
}

.error {
  color: $red;
  font-weight: bold;
  text-align: center;
}
